doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Usuario Admin
    link(rel="stylesheet", type="text/css", href="../estilo.css")
  body
    header
      .container
        h1 Bienvenido, Administrador #{admin.nombre} #{admin.apellido}
        .cerrar-sesion
          a(href="/logout") Cerrar Sesión
    main
      .container
        h2 Profesionales
        table(class="tabla")
          thead
            tr
              th Nombre
              th Apellido
              th DNI
              th Email
              th Profesion
              th Especialidad
              th Matricula
              th Estado
              th Acciones
          tbody
            each profe in profes
              tr
                td #{profe.nombre}
                td #{profe.apellido}
                td #{profe.dni}
                td #{profe.email}
                td #{profe.profesion}
                td #{profe.especialidad}
                td #{profe.matricula}
                td #{profe.estadoStr}
                td
                  button(onclick=`bajaProf(${profe.id})`) Dar de baja
                  button(onclick=`altaProf(${profe.id})`) Dar de Alta

        include medicamentos.pug

    footer
      .container
        p Derechos de autor © 2024. Todos los derechos reservados.