doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Prescripciones
    link(rel="stylesheet", type="text/css", href="../estilo.css")
  body
    header
      .container
        h1 Panel de Prescripciones
          h2 Médico: #{profesional.nombre} #{profesional.apellido}
        //nav
        //  ul
        //    li
        //      a(href="/prescripcion" class="btn") Nueva Prescripción

    main
      .container
        h2 
          | Prescripciones realizadas 
          a(href="/prescripcion" class="btn") Nueva Prescripcion
        table(class="tabla")
          thead
            tr
              th Apellido Paciente
              th Nombre Paciente
              th Prestacion
              th Fecha
              th Diagnostico
              th Medicamento
              th Dosis
              th Duracion
              th Acciones
          tbody
            each prescripcion in prescripciones
              tr
                td #{prescripcion.apellidoPaciente}
                td #{prescripcion.nombrePaciente}
                td #{prescripcion.estudio}
                td #{prescripcion.fechaPrestacion}
                td #{prescripcion.diagnostico}
                td #{prescripcion.nombreMedicamento}
                td #{prescripcion.dosis}
                td #{prescripcion.duracion}
                td
                  button(class="btnVer", onclick=`bajaPrescripcion(${prescripcion.id})`) Ver mas

    footer
      .container
        p Derechos de autor © 2024. Todos los derechos reservados.