doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Prescripciones
    link(rel="stylesheet", type="text/css", href="../estilo.css")
  body
    header
      .container
        h1 Panel de Prescripciones
        //nav
        //  ul
        //    li
        //      a(href="/prescripcion" class="btn") Nueva Prescripción

    main
      .container
        h2 
          | Prescripciones realizadas
          a(href="/prescripcion" class="btn-ingresar") Nueva Prescripcion
        table(class="tabla")
          thead
            tr
              th id Paciente
              th id Prestacion
              th Fecha Prestacion
              th id Profesional
              th Diagnostico
              th id Lista
              th Acciones
          tbody
            each prescripcion in prescripciones
              tr
                td #{prescripcion.idPaciente}
                td #{prescripcion.idPrestacion}
                td #{prescripcion.fechaPrestacion}
                td #{prescripcion.idProfesional}
                td #{prescripcion.diagnostico}
                td #{prescripcion.idLista}
                td
                  button(class="btnVer", onclick=`bajaPrescripcion(${prescripcion.id})`) Ver mas

    footer
      .container
        p Derechos de autor © 2024. Todos los derechos reservados.