doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Prescripción Electrónica
    link(rel="stylesheet", type="text/css", href="../prescripForm.css")
  body
    .container
      .header
        h1 Prescripción Electrónica
        p
          strong Datos del Medico:
          br
          strong Nombre y apellido: #{profesional.apellido} #{profesional.nombre}
          br
          strong DNI: #{profesional.dni}
          br
          strong Profesión: #{profesional.profesion}
          br
          strong Especialidad: #{profesional.especialidad}
          br
          strong Matrícula: #{profesional.matricula}
      .section
        h2 Información del Paciente
        table
          tr
            th Nombre
            td 
              input(type="text" name="nombrePaciente" value=nombrePaciente placeholder="Nombre del paciente")
            th Fecha de Nacimiento
            td 
              input(type="date" name="fechaNac" value=fechaNac)
          tr
            th DNI
            td 
              input(type="text" name="dniPaciente" value=dniPaciente placeholder="DNI del paciente")
            th Obra Social
            td 
              input(type="text" name="obraSocial" value=obraSocial placeholder="Obra Social")
          tr
            th Sexo
            td 
              select(name="sexo")
                option(value="M" selected=sexo==="M") Masculino
                option(value="F" selected=sexo==="F") Femenino
            th Plan
            td 
              input(type="text" name="plan" value=plan placeholder="Plan")
      .section
        h2 Diagnóstico y Tratamiento
        table
          tr
            th Diagnóstico
            td 
              textarea(name="diagnostico" placeholder="Diagnóstico") #{diagnostico}
            th Fecha de la Prescripción
            td 
              input(type="date" name="fechaPrescrip" value=fechaPrescrip)
      .section
        h2 Medicamentos y/o Prestaciones
        table
          tr
            th Medicamento/Prestación
            td
              select(name="medicamento")
                option(value="") Sin medicamentos
                each medicamento in medicamentos
                  option(value=medicamento.id) #{medicamento.nombre} - #{medicamento.concentracion} - #{medicamento.formaFarm} - #{medicamento.presentacion} - #{medicamento.estado}
          tr
            th Dosificación
            td 
              input(type="text" name="dosificacion" placeholder="Ingrese dosificación")
          tr
            th Prestación
            td
              select(name="prestacion")
                option(value="") Seleccione una prestación
                each prestacion in prestaciones
                  option(value=prestacion.id) #{prestacion.estudio} - #{prestacion.parteCuerpo}
      .section
        button(type="button" onclick="generarPrescripcion()") Generar Prescripción
  script.
    function generarPrescripcion() {
      window.print();
    }