doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Prescripción Electrónica
    link(rel="stylesheet", type="text/css", href="../prescripForm.css")
  body
    .container
      .header
        h1 Prescripción Electrónica
        p
          strong Datos del Medico:
          br
          strong Nombre y apellido: #{profesional.apellido} #{profesional.nombre}
          br
          strong DNI: #{profesional.dni}
          br
          strong Profesión: #{profesional.profesion}
          br
          strong Especialidad: #{profesional.especialidad}
          br
          strong Matrícula: #{profesional.matricula}
      .section
        h2 Información del Paciente
        table
          tr
            th Nombre
            td 
              input(type="text" name="nombrePaciente" value=nombrePaciente placeholder="Nombre del paciente")
            th DNI
            td 
              input(type="number" name="dniPaciente" value=dniPaciente placeholder="DNI")
            th Fecha de Nacimiento
            td 
              input(type="date" name="fechaNac" value=fechaNac)
          tr
            th Apellido
            td 
              input(type="text" name="apellidoPaciente" value=nombrePaciente placeholder="Apellido del paciente")
            th Obra Social
            td 
              select(name="obraSocial" id="obraSocial" onchange="actualizarPlanes()")
                option(value="") Seleccione Obra Social
                each obraSocial in obrasSociales
                  option(value=obraSocial.id) #{obraSocial.nombre}
            th E-mail
            td 
              input(type="text" name="emailPaciente" value=plan placeholder="E-mail")
          tr
            th Sexo
            td 
              select(name="sexo")
                option(value="Masculino" selected=sexo==="Masculino") Masculino
                option(value="Femenino" selected=sexo==="Femenino") Femenino
            th Plan
            td 
              select(name="plan" id="plan")
                option(value="") Seleccione Plan
      .section
        h2 Medicamentos y/o Prestaciones
        table
          tr
            th Prestación
            td
              select(name="prestacion" id="prestacionSelect")
                option(value="") Seleccione una prestación
                each prestacion in prestaciones
                  option(value=prestacion.id) #{prestacion.estudio} - #{prestacion.parteCuerpo}
          tr
            th Medicamento
            td
              select(name="medicamento")
                option(value="") Sin medicamentos
                each medicamento in medicamentos
                  option(value=medicamento.id) #{medicamento.nombre} #{medicamento.concentracion} en #{medicamento.formaFarmaceutica} #{medicamento.presentacion}
          tr
            th Dosificación
            td 
              textarea(name="dosificacion" id="dosificacion" placeholder="Dosificación")
          tr
            th Duracion
            td 
              textarea(name="duracion" id="duracion" placeholder="Duracion")
      .section
        h2 Diagnóstico y Tratamiento
        table
          tr
            th Diagnóstico
            td 
              textarea(name="diagnostico" id="diagnostico" placeholder="Diagnóstico") #{diagnostico}
            th Fecha de la Prescripción
            td 
              span(name="fechaPrescrip", id="fechaPrescrip") Fecha actual
            //input(type="date" name="fechaPrescrip" value=fechaPrescrip)

      .section
        button(type="button" onclick="generarPrescripcion()") Generar Prescripcion
        button(type="button" onclick="imprimir()") Imprimir


  script.
    function formatDate(date) {
      let dia = String(date.getDate()).padStart(2, '0');
      let mes = String(date.getMonth() + 1).padStart(2, '0');
      let anio = date.getFullYear();
      return `${dia}/${mes}/${anio}`;
    }

    document.addEventListener('DOMContentLoaded', function() {
      let hoy = new Date();
      document.getElementById('fechaPrescrip').innerText = formatDate(hoy);
    });

    function imprimir() {
      window.print();
    }

    function actualizarPlanes() {
      let obraSocialId = document.getElementById('obraSocial').value;
      let planSelect = document.getElementById('plan');
      
      //Limpiar opciones actuales
      planSelect.innerHTML = '<option value="">Seleccione un plan</option>';
      
      if (obraSocialId) {
        let planes = planesPorObraSocial[obraSocialId] || [];
        
        planes.forEach(function(plan) {
          let option = document.createElement('option');
          option.value = plan.id;
          option.text = plan.nombre;
          planSelect.appendChild(option);
        });
      }
    }
    const planesPorObraSocial = !{JSON.stringify(planesPorObraSocial)};

    
    function generarPrescripcion() {
    //paciente
    const nombrePaciente = document.getElementsByName("nombrePaciente")[0].value;
    const apellidoPaciente = document.getElementsByName("apellidoPaciente")[0].value;
    const dniPaciente = document.getElementsByName("dniPaciente")[0].value;
    const sexo = document.getElementsByName("sexo")[0].value;
    const fechaNac = document.getElementsByName("fechaNac")[0].value;
    const emailPaciente = document.getElementsByName("emailPaciente")[0].value;
    const idObraSocial = document.getElementsByName("obraSocial")[0].value;

    const paciente = {
        nombre: nombrePaciente,
        apellido: apellidoPaciente,
        dni: dniPaciente,
        sexo: sexo,
        fechaNac: fechaNac,
        email: emailPaciente,
        idObraSocial: idObraSocial,
    };

    //Prestacion
    const prestacionSelect = document.getElementById("prestacionSelect");
    const idPrestacion = prestacionSelect.value;
    const diagnostico = document.getElementById("diagnostico").value;
    const idProfesional = 2;//De momento se hardcodea
    const idMedicamento = document.getElementsByName("medicamento")[0].value;
    const dosis = document.getElementById("dosificacion").value;
    const duracion = document.getElementById("duracion").value;

    const prescripcion = {
        idPrestacion: idPrestacion,
        fechaPrestacion: new Date().toISOString().split('T')[0],//Fecha en formato YYYY-MM-DD
        idProfesional: idProfesional,
        diagnostico: diagnostico,
        idMedicamento: idMedicamento,
        dosis: dosis,
        duracion: duracion
    };

    //Fetch para enviar datos al server
    fetch("/prescripcion/nueva", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ paciente: paciente, prescripcion: prescripcion })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Error en la solicitud');
        }
        return response.json();
    })
    .then(resultado => {
        console.log("Prescripción generada exitosamente!", resultado);
        alert("Prescripcion creada exitosamente");

        const inputs = document.querySelectorAll("input");
        inputs.forEach(element => {
          element.readOnly = true;
        })

        const selects = document.querySelectorAll("select");
        selects.forEach(element => {
          element.disabled = true;
        });

        const textareas = document.querySelectorAll("textarea");
        textareas.forEach(element => {
          element.readOnly = true;
        });


    })
    .catch(error => {
        console.error("Error al generar la prescripción:", error);
    });
    }

    async function guardarPrescripcion(prescripcion) {
      try {
          const respuesta = await fetch("/prescripcion/nueva", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json"
              },
              body: JSON.stringify(prescripcion)
          });

          if (!respuesta.ok) {
              throw new Error('Error en la solicitud');
          }

          const resultado = await respuesta.json();
          console.log("Prescripción generada exitosamente!");
          return resultado;
      } catch (error) {
          console.error("Error al generar la prescripción:", error);
      }
    }